.d3-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}

.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis-title {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
